@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  background: linear-gradient(
    107.5deg,
    #03768f 0%,
    rgba(9, 161, 194, 0.58) 41.9%,
    rgba(69, 145, 227, 0.56) 55.07%,
    rgba(49, 89, 209, 0.56) 68.63%,
    rgba(54, 78, 227, 0.581722) 78.25%,
    rgba(5, 10, 251, 0.51) 91.67%
  );
}

.container {
  width: 50%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-style: normal;
  font-weight: 700;
  /* Ajustando margin no h1 - maria */
  margin-bottom: 37px;
  margin-top: 16px;
  font-size: 30px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 0%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#etapa0 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#etapa1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  margin-left: 1%;
  margin-bottom: 10px;
  /*Alterando margin - maria*/
}

form input {
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  height: 7vh;
  width: 20vw;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5%;
  /* Adicionando config para layout input - maria */
  outline: none;
  padding-left: 15px;
  font-size: 16px;
}

.progresso_controle {
  display: grid;
  grid-template-columns: 1fr;
  height: 5vh;
  width: 20vw;
}

.progresso_controle div {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  grid-row-start: 1;
  grid-column-start: 1;
}

.progresso_linha {
  background-color: aqua;
  display: flex;
  background-image: url("../images/linha.png");
  width: 20vw;
  height: 1vh;
}

.progresso_circulos {
  display: flex;
  justify-content: space-between;
  background-color: none;
  width: 100%;
  z-index: 10;
}

.div_cadastro,
.div_login {
  display: flex;
  flex-direction: column;
}

.link {
  margin-bottom: 1%;
}

a {
  text-decoration: none;
  cursor: pointer;
  /* Adicionando config no link - maria */
  font-family: "Poppins";
  font-weight: 400;
  color: #073c5a;
  font-size: 16px;
  margin: 20px 0;
}

.navegacao_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22vw;
}

button {
  background-color: #7197f9;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: aliceblue;
  cursor: pointer;
  overflow-wrap: break-word;
  height: 45px;
  width: 10vw;
  max-width: 10vw;
  border-radius: 15px;
  border: none;
}

@media screen and (max-width: 760px) {
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1, .form_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    max-width: 5vw;
  }
}

@media screen and (max-width: 1200px) {
  input {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 960px) {
  .btn_pagina span {
    display: none;
  }
  .btn_pagina::after {
    content: "Próxima";
  }
}
