body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*   download area   */

.downloadArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 500px;
    background-color: #FFF;
    text-align: center;
    padding: 0 20px;
}

.downloadArea h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 15px 0;
}

.downloadArea p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    margin: 0 21px 0 0;
}

.downloadArea div {
    display: flex;
    align-items: center;
}

.downloadArea img {
    width: 35px;
    height: 35px;
    margin: 0 2px;
}

.downloadArea button {
    width: 80%;
    max-width: 297px;
    height: 55px;
    color: #FFF;
    font-family: 'Poppins';
    font-weight: 600;
    background: linear-gradient(91.8deg, #7197F9 1.77%, rgba(22, 137, 145, 0.58) 100%);
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    outline: none;
    margin-top: 44px;
}

/*   services area   */

.servicesArea {
    width: 100vw;
    min-height: 700px;
    background-color: #F8F8F8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 130px;
}

.servicesArea h1 {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    z-index: 5;
}

.containerSlides {
    max-width: 1200px;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.containerSlides>div {
    width: 45%;
    height: 230px;
    background-color: #FFF;
    margin: 15px;
    border: 1px solid #E7E7E7;
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container>div .effect {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: opacity 500ms ease;
    background: rgba(0, 0, 0, 0.49);
    opacity: 1;
}

.containerSlides>div h1 {
    position: absolute;
    bottom: 0;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    padding: 0 0 20px 20px;
    color: #FFF;
}

/*  DEFINIR OS @MEDIA PARA A MUDANÇA DO LAYOUT  */

@media screen and (max-width: 900px) {

    /*  RESPONSIVO DA SERVICE DOWNLOAD AREA    */
    .containerFlex {
        flex-direction: column;
    }

    .downloadArea p {
        margin: 0 21px 20px 0;
    }

    /*  RESPONSIVO DA SERVICE AREA    */
    .containerSlides>div {
        width: 100%;
    }

    .container {
        padding: 50px 50px;
    }

    .containerSlides>div h1 {
        font-size: 14px;
    }

    .servicesArea h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {

    /*  RESPONSIVO DA SERVICE DOWNLOAD AREA    */
    .downloadArea h1 {
        font-size: 25px;
    }

    .downloadArea p {
        margin: 0 21px 20px 0;
    }

    .downloadArea img {
        width: 30px;
        height: 30px;
        margin: 0 2px;
    }

    /*  RESPONSIVO DA SERVICE AREA    */
    .container {
        padding: 50px 20px;
    }
}