#acessos {
    background-color: #F5F6F8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    overflow-y: auto;
}

#acessos h1 {
    font-family: 'Montserrat';
    color: #222359;
    font-size: 18px;
    font-weight: 700;
    margin-top: 44px;
}

#containerAcessos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

#containerAcessos .itemAcesso {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FFF;
    padding: 15px 30px;
    margin: 36px 0;
    border-radius: 15px;
}

#containerAcessos .itemAcesso div:first-child {
    display: flex;
}

#containerAcessos .itemAcesso p {
    margin: 0 20px 0 0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    padding: 5px 0;
}

#containerAcessos .itemAcesso p span {
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

.filtrar_acessos {
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtrar_acessos select {
    font-weight: 300;
    border: 0px;
    width: 150px;
}

.filtrar_acessos button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 230px;
    height: 40px;
    border: 0px;
    border-radius: 12px;
    background-color: #7197F9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .itemAcesso {
        display: flex;
        flex-direction: column;
    }

    #acessos {
        padding: 0 20px;
    }

    #containerAcessos .itemAcesso p {
        margin-bottom: 10px;
    }

    .itemAcesso div:first-child {
        display: flex;
        flex-direction: column;
    }

    .filtrar_acessos {
        flex-direction: column;
    }

    .filtrar_acessos button {
        margin-top: 20px;
    }

    .itemAcesso div:last-child {
        margin: 0 auto;
    }
}