body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#painel {
    background-color: #F5F6F8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#painel h1 {
    font-family: 'Montserrat';
    color: #222359;
    font-size: 18px;
    font-weight: 700;
    margin-top: 44px;
    margin-left: 36px;
}

.div_primeira {
    width: 71.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.span_titulo {
    font-family: Montserrat;
    color: #222359;
    font-size: 120%;
    font-weight: 700;
    margin-top: 44px;
    margin-left: 36px;
}

.div_pai_chamados {
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: flex-end;
}

.div_chamados_abertos {
    width: 30%;
    height: 100%;
    background-color: #ffff;
    margin-left: 24px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_circulo {
    margin-left: 22px;
}

.div_dados_chamados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span_texto {
    font-family: Montserrat;
    font-size: 80%;
    color: #222359;
    font-style: normal;
    font-weight: 600;
}

#span_numero {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    color: #FFC107;
}

.div_grafico_principal {
    width: 96%;
    height: 59.5%;
    margin-top: 33px;
    border-radius: 15px;
    background-color: #ffff;
    margin-left: 30px;
    display: flex;
}

.span_maquinas_problemas {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 95%;
    color: #4B4A4C;
    margin-top: 21px;
    margin-left: 22px;
}

.div_segunda {
    width: 28.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_grafico_um {
    width: 80%;
    height: 35.5%;
    background-color: #ffff;
    border-radius: 15px;
    margin-top: 131px;
}

.div_grafico_dois {
    width: 80%;
    height: 35.5%;
    background-color: #ffff;
    border-radius: 15px;
    margin-top: 29px;
}

@media (max-width: 1024px) {

    .span_texto {
        font-size: 50%;
        text-align: center;
    }

    #span_numero {
        font-size: 100%;
    }

    .div_grafico_principal {
        width: 96%;
        height: 55%;
        margin-top: 25px;
    }

    .span_maquinas_problemas {
        font-size: 80%;
    }

    .div_grafico_um {
        width: 80%;
        height: 33%;
        border-radius: 15px;
        margin-top: 131px;
    }

    .div_grafico_dois {
        width: 80%;
        height: 33%;
        border-radius: 15px;
        margin-top: 29px;
    }
}

@media (max-width: 768px) {

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #painel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .span_titulo {
        font-family: Montserrat;
        color: #222359;
        font-size: 120%;
        font-weight: 700;
        margin-top: 20px;
        margin-left: 0;
    }

    .div_primeira {
        width: 90%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .div_pai_chamados {
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        justify-content: space-evenly;
        align-items: center;
    }

    .div_chamados_abertos {
        width: 45%;
        height: 30%;
        margin-left: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    }


    .div_dados_chamados {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .span_texto {
        text-align: center;
        font-family: Montserrat;
        font-size: 90%;
        color: #222359;
        font-style: normal;
        font-weight: 600;
    }

    #span_numero {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 120%;
        color: #FFC107;
    }

    .div_grafico_principal {
        width: 70%;
        height: 75%;
        margin-top: 15px;
        border-radius: 15px;
        display: flex;
        margin-left: 0;
    }

    .div_segunda {
        width: 90%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .div_grafico_um {
        width: 50%;
        height: 47%;
        border-radius: 15px;
        margin-top: 15px;
    }

    .div_grafico_dois {
        width: 50%;
        height: 47%;
        border-radius: 15px;
        margin-top: 15px;

    }
}

@media (max-width: 540px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #painel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div_primeira {
        height: 65%;
        width: 85%;
        display: flex;
        align-items: center;
    }

    .div_pai_chamados {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: space-evenly;
    }

    .div_chamados_abertos {
        width: 40%;
        height: 30%;
        border-radius: 15px;
        display: flex;
        align-items: center;
        margin-left: 0;
    }

    .div_dados_chamados {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .span_texto {
        text-align: center;
        font-family: Montserrat;
        font-size: 65%;
        color: #222359;
        font-style: normal;
        font-weight: 600;

    }

    #span_numero {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 120%;
        color: #FFC107;
    }

    .div_grafico_principal {
        width: 96%;
        height: 75%;
        margin-top: 15px;
        border-radius: 15px;
        margin-left: 0;
        display: flex;
    }

    .div_segunda {
        margin-top: 25px;
        width: 90%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .div_grafico_um {
        width: 50%;
        height: 45%;
        border-radius: 15px;
        margin-top: 0;
    }

    .div_grafico_dois {
        width: 50%;
        height: 45%;
        border-radius: 15px;
        margin-top: 0;
    }
}

@media (max-width: 415px) {

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #painel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div_primeira {
        height: 65%;
        width: 85%;
        display: flex;
        align-items: center;
    }

    .div_pai_chamados {
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        justify-content: space-evenly;
    }

    .div_chamados_abertos {
        width: 70%;
        height: 30%;
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }

    .img_circulo {
        margin-left: 0;
    }

    .div_dados_chamados {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .span_texto {
        text-align: center;
        font-family: Montserrat;
        font-size: 75%;
        color: #222359;
        font-style: normal;
        font-weight: 600;
        margin-top: 10px;
    }

    #span_numero {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 130%;
        color: #FFC107;
    }

    .div_grafico_principal {
        width: 96%;
        height: 75%;
        margin-top: 10px;
        border-radius: 15px;
        margin-left: 0;
        display: flex;
    }

    .div_segunda {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .div_grafico_um {
        width: 60%;
        height: 40%;
        border-radius: 15px;
       
    }

    .div_grafico_dois {
        width: 60%;
        height: 40%;
        border-radius: 15px;
       
    }
}